[submodule "en/crystal-website"]
	path = en/crystal-website
	url = git://github.com/crystal-lang/crystal-website.git
[submodule "en/crystal-book"]
	path = en/crystal-book
	url = git://github.com/crystal-lang/crystal-book.git
