---
title: メディア
description: 言語やコミュニティが育っていくにつれて、Crystal というブランドをどうやって、どんな目的でなら使ってよいのか基本的なルールを持つことが必要だと感じるようになりました。
---
<div class="container">

  <div class="row">
    <div class="col offset-m1 m10 s12">
      <div class="row">
        <div class="col">
          <h2>アセット</h2>
          <p>Crystal に興味を示していただきありがとうございます。言語やコミュニティが育っていくにつれて、Crystal というブランドをどうやって、どんな目的でなら使ってよいのか基本的なルールを持つことが必要だと感じるようになりました。</p>
          <p>ここにいくつかのアセットと Crystal というブランドとロゴを使うにあたっての最良の方法を決める助けとなるガイドラインをここに用意しました。</p>

          <h3>ロゴ</h3>
          <div class="media-gallery">{% include media_gallery_item.html img='media/crystal_logo.svg' name='ロゴ' %}
{% include media_gallery_item.html img='media/crystal_logo-stacked_version.svg' name='ロゴ - 縦バージョン' %}
{% include media_gallery_item.html img='media/crystal_icon.svg' name='アイコン' %}</div>
          <p class="no-underline"><a href="/media/crystal-media-kit-6e57ec7.zip"> <i class="material-icons">file_download</i> <span>すべてのアセットを zip でダウンロードする</span> </a></p>
        </div>
      </div>

      <div class="row">
        <div class="col s12 m7">
          <h3>色</h3>
          <div class="color row">{% include media_color_sample.html color='Black' hex='#000' class='black' %} {% include media_color_sample.html color='White' hex='#FFF' class='white' %} {% include media_color_sample.html color='Gray' hex='#777' class='gray' %}</div>
        </div>
      </div>

      <div class="row">
        <div class="col s12">
          <h3>フォント</h3>
          <div class="fonts">{% include media_font_sample.html name='Roboto' class='roboto' %} {% include media_font_sample.html name='Roboto Medium' class='medium' %} {% include media_font_sample.html name='Roboto Mono Medium' class='mono' %}</div>
          <p class="no-underline"><a href="https://fonts.google.com/selection?query=robot&amp;selection.family=Roboto+Mono:500|Roboto:400,500" target="_blank"> <i class="extra-icons google_fonts"></i> <span>これらは Google Fonts から取得できます</span> </a></p>
        </div>
      </div>

      <hr class="squares"/>

      <div class="row media-guidelines">
        <div class="col s12">
          <h2>ガイドライン</h2>

          <h3>次のような場合であれば、Crystal のロゴやブランドを利用できます。</h3>
          <ul class="guidelines dos">
          <li>適当なものへの印刷 (非商用に限る)</li>
          <li>プレゼンテーションや論文、講演での利用</li>
          <li>Crystal で作ったものの宣伝のための利用</li>
          <li>Crystal に関するブログ投稿や記事、ニュースへの利用</li>
          <li>教育目的での利用 (非商用に限る)</li>
          </ul>

          <h3>Crystal のロゴやブランドに対して次のことはしてはいけません。</h3>
          <ul class="guidelines donts">
          <li>色や縦横比の変更、独自のテキストの追加</li>
          <li>許可なく Crystal のイラストや商品を販売すること</li>
          <li>Crystal のロゴと独自のロゴを組み合わせること</li>
          <li>Crystal のロゴをあなた自身や企業のものとして使う、もしくはアプリケーションのイメージ画像として使うこと</li>
          <li>Crystal のスポンサーシップや支持を示唆するような方法でロゴを使うこと</li>
          </ul>

          <h3>このような場合はためらわず連絡してください。</h3>
          <ul class="guidelines general">
          <li>Crystal の商品を売る許可が欲しい場合</li>
          <li>商用目的でロゴを使いたい場合</li>
          <li>Crystal のブランドやロゴの使い方に質問がある場合</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

</div>
