<div class="row become-sponsor">
  <div class="col">
    <h2>スポンサーになりたいですか？</h2>
    <p>このプロジェクトを気に入っていただき、その可能性を感じていただけたならば、力になれるはずです。どんな金額でも構いません。</p>
    <p><a href="https://opencollective.com/crystal-lang" target="_blank"
        class="btn btn-flat btn-large">Contribute</a></p>
  </div>
</div>

<div class="row faq">
  <div class="col">
    <h2>FAQ</h2>

    <p><h3>このリストは何ですか？</h3>These are the companies and individuals contributing to help sustain Crystal's development. 詳細は <a class="contributing-link" href="https://opencollective.com/crystal-lang" target="_blank">Open Collective のキャンペーンページ</a>を確認してください。</p>

    <p><h3>月5ドルのスポンサーをしているけれど、自分のURLがリストにありません。</h3>Web サイトとアバター画像を <a class="contributing-link" href="https://opencollective.com" target="_blank">Open Collective のプロフィール</a>もしくは <a class="contributing-link" href="https://www.bountysource.com/settings" target="_blank">Bountysource のプロフィール</a>から取得しています。それができなかった場合は、GitHub もしくは Twitter のアカウントのものを使います。</p>

    <p><h3>When is this page updated?</h3>We update the current sponsors in this page at the beginning of each month.</p>

    <p><h3>How is the list ordered?</h3>It is ordered by level of contribution and total amount contributed so far. Columns are sortable.</p>

    <p><h3>How long are contributors listed?</h3>Open Collective contributors are listed forever, but after three months of the last payment they are considered as contributing $0 (that is, no link is shown). Bounty Source contributors are erased as long as the site consider them inactive, for technical reasons.</p>

    <p><h3>There seems to be an error, how can I fix it?</h3>もし情報が間違っていれ、訂正を求める場合は、<a class="contributing-link" href="mailto:crystal@manas.tech">私たちに連絡して</a>ください。</p>
  </div>
</div>
