---
title: Crystal
description: A language for humans and computers
custom_body_classes:
  - main
---
<div class="banner center sponsorship no-select">
  <div class="flag">production-readyに向けて支援をお願いします: <div class="flag-logos"><a href="https://opencollective.com/crystal-lang" target="_blank"> <img src="{{ 'oc.png' | asset_path }}" class="oc-logo"> </a></div>
  </div>
</div>

<div class="container">

  <div class="row center">
    <div class="col s12">
      <h2 class="latest-release">最新のリリース <a href="/2020/06/19/crystal-0.35.1-released.html">0.35.1</a></h2>
      <p>19June 2020 - <a href="/blog#release_notes" class="gray-link">その他のリリースノート</a></p>
    </div>
  </div>

  <hr class="fullwidth" />

  <div class="row">
    <div class="col s12">
      <h2>構文</h2>
      <p>Crystal の構文は Ruby の影響をつよく受けています。そのため自然に読めて、簡単に書けます。そして、 Ruby 開発の経験があれば習得は容易でしょう。</p>
      <div class='code_section'>{% include sample_server.md %}</div>
      <p class="read-more"><a href="https://ja.crystal-lang.org/reference/getting_started/">言語リファレンスで Crystal の学習をはじめましょう</a></p>
    </div>
  </div>

  <div class="row">
    <div class="col s12">
      <h2>型システム</h2>
      <p>Crystal は静的に型チェックされるプログラミング言語です。そのため、実行時にエラーを起こすのではなく、コンパイラが早期に型エラーを発見するでしょう。さらに、Crystal は型推論も備えています。ほとんどの場合、型注釈は必要ありません。</p>
      <div class="code_section">{% include sample_type_system.md %}</div>
      <p class="read-more"><a href="https://ja.crystal-lang.org/reference/syntax_and_semantics/types_and_methods.html">Crystal の方システムについて、より詳しく見る</a></p>
    </div>
  </div>

  <div class="row">
    <div class="col s12">
      <h2>Null 参照チェック</h2>
      <p>Crystal ではすべての型は nil を許容しません。そして nil を許容する変数は、その型と nil とのユニオン型となります。要するに、コンパイラはコンパイル時に自動的に null 参照をチェックしてくれる、ということです。これは<a href="https://www.infoq.com/presentations/Null-References-The-Billion-Dollar-Mistake-Tony-Hoare" target="_blank">10億ドルの失敗</a>から免れる助けになるでしょう。</p>
      <div class="code_section">{% include sample_null.md %}</div>
      <p>このファイルを実行すると、こんな結果になります。</p>
      <div class="code_section">
        <figure class="highlight console">{% include sample_null_refs.html %}</figure>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col s12">
      <h2>マクロ</h2>
      <p>Crystal はメタプログラミングに対する答えとして、強力なマクロシステムを備えています。この力は基本的なテンプレート処理から AST の分析や型の分析、さらには外部コマンドの実行までに及びます。</p>
      <div class="code_section">{% include sample_macros.md %}</div>
      <p class="read-more"><a href="https://ja.crystal-lang.org/reference/syntax_and_semantics/macros.html">マクロについてより詳しく見る</a></p>
    </div>
  </div>

  <div class="row">
    <div class="col s12">
      <h2>並列モデル</h2>
      <p>Crystal はファイバーと呼ばれる軽量スレッドを用いて、並列性を獲得しています。ファイバー同士は Go や Clojure のようなチャネルを用いて協調します。共有メモリやロックは用いません。</p>
      <div class="code_section">{% include sample_concurrency.md %}</div>
      <p class="read-more"><a href="https://ja.crystal-lang.org/reference/guides/concurrency.html">Crystal の並列モデルについてより詳しく見る</a></p>
    </div>
  </div>

  <div class="row">
    <div class="col s12">
      <h2>C バインディング</h2>
      <p>Crystal ではネイティブのライブラリを呼ぶため構文を持っており、低レベルのタスクの再実装は必要ありません。</p>
      <div class="code_section">{% include sample_bindings.md %}</div>
      <p class="read-more"><a href="https://ja.crystal-lang.org/reference/syntax_and_semantics/c_bindings/">C ライブラリのバインディング方法について学ぶ</a></p>
    </div>
  </div>

  <div class="row">
    <div class="col s12">
      <h2>依存関係の管理</h2>
      <p>Crystal のライブラリは Shards と呼ばれ、中央集権的なリポジトリを持たず Git で配布されます。shards コマンドではYAMLファイルで依存関係を指定できて、さらにそれらを取得してこれます。</p>
      <div class="code_section">{% include sample_dependencies.md %}</div>
      <p class="read-more"><a href="https://github.com/crystal-lang/shards">Shards のリポジトリはこちら</a></p>
    </div>
  </div>

  <div class="row center">
    <div class="col s12">
      <div class="flag">
        <h3>Crystal のトップスポンサー</h3><a href="/sponsors">一覧</a></div>
    </div>
  </div>

  <div class="row">
    <div class="col s12">
      <div class='sponsors-list'><a href='https://manas.tech/' target='_blank' class="sponsor"> {% img manas-orange.svg %} <span class="small">Manas Technology Solutions</span> </a> <a href='https://www.84codes.com/' target='_blank' class="sponsor"> {% img sponsors/84.png %} <span class="small">84 codes</span> </a> <a href='https://nikolamotor.com/' target='_blank' class="sponsor"> {% img sponsors/nikola_motor_company.png %} <span class="small">Nikola Motor Company</span> </a> <a href='https://fly.io' target='_blank' class="sponsor"> {% img sponsors/fly_io_.png %} <span class="small">Fly.io</span> </a></div>
    </div>
  </div>
  <hr class="fullwidth">
  <div class="row">
    <div class="col s12">
      <h2>ブログ記事 (一部未翻訳)</h2>{% assign articles = site.posts | where_exp: 'item','item.release_notes != true' %} {% for post in articles limit: 3 %} {% include blog_row.html post=post %} {% endfor %}<p><a href="/blog">さらに記事を見る</a></p>
    </div>
  </div>

  <div class="row">
    <div class="col s12">
      <h2>リリースノート (一部未翻訳)</h2>
      <table class="bordered no-underline">
        <tbody>{% assign releases = site.posts | where: 'release_notes',true %} {% for post in releases limit: 10 %}<tr>
            <td></td>
            <td><a href="{{ post.url }}"> {{ post.title }} </a></td>
            <td>{{ post.date | date_to_string }}</td>{% endfor %}</tbody>
      </table>
      <p><a href="/blog#release_notes">さらにリリースノートを見る</a></p>
    </div>
  </div>

  <div class="row center">
    <div class="col s12">
      <div class="flag">
        <h3>コミュニティチャンネル</h3><a href="/community">すべて表示</a></div>
    </div>
  </div>

  <div class="row">
    <div class="col s12">
      <div class='row community-list center'>
        <div class="col s12 m12 l3"><a href='https://github.com/crystal-lang/crystal/' target='_blank' class="item"> <span class="small">コードリポジトリ</span> <i class="extra-icons github"></i> <span class="with_icon">crystal-lang/crystal</span> </a></div>
        <div class="col s12 m12 l3"><a href='https://forum.crystal-lang.org' target='_blank' class="item"> <span class="small">広い議論の場 (英語)</span> <i class="material-icons">forum</i> <span class="with_icon">forum.crystal-lang.org</span> </a></div>
        <div class="col s12 m12 l3"><a href='https://gitter.im/crystal-lang/crystal' target='_blank' class="item"> <span class="small">チャットルーム (英語)</span> <i class="extra-icons gitter"></i> <span class="with_icon">crystal-lang/crystal</span> </a></div>
        <div class="col s12 m12 l3"><a href='https://twitter.com/CrystalLanguage' target='_blank' class="item"> <span class="small">総合的なアナウンス (英語)</span> <i class="extra-icons twitter"></i> <span class="with_icon">@CrystalLanguage</span> </a></div>
      </div>
    </div>
  </div>

</div>

<script src="https://d3js.org/d3.v3.min.js"></script>
